body{
   background-image: url("img2.jpg");
    background-size: cover;
    background-color:black;
    background-position: right 0;
    background-repeat: no-repeat; 
}

.nav{
    color: white;
    font-size: 30px;
    margin-top: 16px;
    margin-left: 50px;
}
.texto-nav a{
    color: white;
    font-weight: bold 30px;
    margin-right: 100px;
    position: relative;
}
